<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinForm.My.MySettings.DB_SANKOConnectionString" connectionString="Data Source=171.2.3.159;Initial Catalog=DB_Archalive1;User ID=U_Archalive1;Password=Archalive1" />
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
